@font-face {
    font-family: 'pokemon_classicregular';
    src: url('pokemonclassic-webfont.woff2') format('woff2'),
         url('pokemonclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container strong{
    font-family: 'pokemon_classicregular';
    top:30px;

    color:rgb(219, 187, 2);
    text-shadow: 4px 3px 0px #2000FF;
    
}

.title-pokefight{
    position: absolute;
    padding-left: 10px;
}

.navbar-brand {
    text-align: left;
    margin-right: 150px;
    margin-left: -300px;
}

/* .navbar-brand img{
    text-align: left;
    margin-right: 150px;
    margin-left: -300px;
} */
.poke-img {
    position: absolute;
    padding-left: 220px;
}

#user {
    font-family: 'pokemon_classicregular';
    color:rgb(219, 187, 2);
    text-shadow: 2px 1px 0px #2000FF;
}

/* .container a{
    font-family: 'pokemon_classicregular';
    color:rgb(219, 187, 2);
    text-shadow: 4px 3px 0px #2000FF;
} */

