/* .btn-poke-coin {
} */


.poke-coin {
    width: 5%;
}

/* 
.body{
    width: 100%;
    height: 875px;
  
        max-width: 21.5rem;
        float: left;
        width: 75%;
        padding: 10px;
        margin: 10px;
    
    } */